html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  min-width: 300px;
  background-color: aliceblue;
  text-align: center;
  font-size: 2rem;
  display: grid;
  grid-template-rows: 30px auto auto auto auto 60px;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 
  "status status status"
  ". image ."
  "name name name"
  "job job job"
  "offer offer offer"
  "contact contact contact";
}

#status {
  text-align: end;
  margin-right: 10px;
  grid-area: status;
  color: grey;
  padding: 5px 0 5px 0;
}

main > div#img {
  grid-area: image;
}

img {
  border-radius:  50%;
  border: 5px solid green;
  margin: 10px 0;
}

#name {
  grid-area: name;
  font-weight: bold;
  margin: 5px 0;
}

#occupation {
  grid-area: job;
}

#occupation > p {
  margin: 5px 0;
}

#brand {
  display: none;
  grid-area: brand;
  background-color: gainsboro;
}

#offer {
  background-color: gainsboro;
  grid-area: offer;
}

#offer > p {
  margin: 5px 0;
}

#contact {
  display: flex;
  grid-area: contact;
  /* this should only show up if something breaks */
  background-color: rgb(0, 0, 255);
}

#contact > p {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

#contact > p:first-child {
  background-color: aqua;
}

#contact > p:last-child {
  background-color: #019b9b;
}

.flex-container {
  display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (min-width: 1024px) {
  body {
    background-color: rgb(83, 83, 83);
  }
  
  main {
    max-width: 700px;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto 60px;
    grid-template-areas: 
    "status name"
    "image job"
    "image brand"
    "contact offer";
    text-align: left;
    margin: auto 0;
  }

  #status {
    text-align: start;
    padding: 5px 0 0 15px;
  }
  
  img {
    border-radius:  50%;
    border: 5px solid green;
    margin: 0 0 30px 0;
  }
  
  #name {
    background-color: gainsboro;
    font-size: 5rem;
    margin: auto 0;
    padding: 5px 0 5px 20px;
  }
  
  #occupation {
    
    padding: 0 0 0 20px;
    background-color: gainsboro;
  }
  
  #occupation > p {
    margin: 10px 0;
  }

  #occupation > p:last-child {
    
    font-size: 3rem;
  }

  #brand {
    display: flex;
    align-items: center;
    grid-area: brand;
    margin: 0;
    padding: 0 0 0 20px;
    
  }

  #brand > p {
    margin: 10px 0;
    padding: 10px 0 10px 10px;
    border-left: 5px solid green;
  }
  
  #offer {
    background-color: gainsboro;
    padding: 0 0 0 20px;
  }

  #offer > p {
    padding: 0 auto;
    margin: 0 auto;
  }
  
  #contact {
    display: flex;
    grid-area: contact;
    /* this should only show up if something breaks */
    background-color: rgb(0, 0, 255);
  }
}